{% load staticfiles %}
<!-- Le javascript
================================================== -->
<!--
<script src="{% static 'sorter/js/jquery.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-transition.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-alert.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-modal.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-dropdown.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-scrollspy.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-tab.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-tooltip.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-popover.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-button.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-collapse.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-carousel.js' %}"></script>
<script src="{% static 'sorter/js/bootstrap-typeahead.js' %}"></script>
-->