{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "sorter/includes-header.html" %}
  </head>

  <body>
    {% include "sorter/navbar.html" %}
    <div class="container">
      <h1>Media Manager Dashboard</h1>
      <p>
        A comprehensive view of the status of media files
      </p>
      <div class="row">
        <div class="span9">
          <h2>Progress</h2>
          
        </div>
        <div class="span3">
          <h2>Queued Tasks</h2>
          <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ol>
        </div>
      </div><!-- End Row 1 -->
      <div class="row">
        <div class="span9">
          <h2>Running Tasks</h2>
          <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ol>
        </div>
      </div><!-- End In Progress Row -->
      <div class="row">
        <div class="span12">
          <h2>Recently Completed</h2>
          <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ol>
        </div>
      </div>
    </div> <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "sorter/includes-jsload.html" %}
    {% include "sorter/includes-footer.html" %}
  </body>
</html>
