{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "sorter/includes/header.html" %}
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Media Manager</a>
      </div>
    </div>
  </div>
    <div class="container">
      <h1>First Time Setup</h1>
      {% if form.errors %}
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Errors!</h4>
          {{ form.non_field_errors }}
          {% for field in form %}
            {{ field.errors }}
          {% endfor %}
        </div>
      {% endif %}
      <form action="{% url 'sorter:setup' %}"
            class="form-horizontal"
            method="post">
        {% csrf_token %}
        {% if form.scan_folder.errors %}
          <div class="control-group error">
        {% else %}
          <div class="control-group">
        {% endif %}
          <label class="control-label" for="id_scan_folder">Scan Folder</label>
          <div class="controls">
            {{ form.scan_folder }}
          </div>
        </div>
        {% if form.destination_folder.errors %}
          <div class="control-group error">
        {% else %}
          <div class="control-group">
        {% endif %}
          <label class="control-label" for="id_destinatin_folder">Destination Folder</label>
          <div class="controls">
            {{ form.destination_folder }}
          </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    </div> <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "sorter/includes/jsload.html" %}
    {% include "sorter/includes/footer.html" %}
  </body>
</html>
        
